*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: "Plain light";
color: #fff;
}
html,body{
height: 100%;
width: 100%;
}
body{
    overflow-x: hidden;
}
.mousefollower{
    height: 40px !important;
    width: 40px !important;
    color: transparent !important;
    border: 1px solid #fff;
    background: transparent !important;
    mix-blend-mode: normal !important;
}

.loader{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color:#151515;
    padding-top: 18vh;
    padding-left: 10vh;
    text-transform: uppercase;
    z-index: 99;
}
.loader .load {
    font-size: 6.5vh;
    height: 17vh;
}
.load:nth-child(2){
    margin-top: -1vw;
}
.load:nth-child(3){
    margin-top: -1.3vw;
}
.load{
    display: flex;
    margin-bottom: 1px;
    overflow: hidden;
    align-items: center;
    letter-spacing: 2px;
}
.timer{
    display: flex;
    margin-right: 1vw;
    margin-left: 6vw;
    align-items: center;
    justify-content: space-between;
    width: 19vw;
}

.timer h4{
    font-family: "Silk Serif";
    font-weight: 100;
    margin-right: 2vh;
    font-size: 4vw;
}
.timer h5{
    font-family: "Silk Serif";
    font-weight: 100;
    margin-right: 2vh;
    font-size: 4vw;
}
.load h2{
    font-size: 7vw;
    margin-left: 2vw;
    text-transform: uppercase;
    animation: now linear 1.5s infinite;
}
@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 0;
        color: white;
        font-weight: 100;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        color: transparent;
        font-weight: 100;
    }

    95%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color: transparent;
        font-weight: 100;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
}
.page1{
    /* height: 100vh; */
    padding-bottom: 5vh;
    width: 100%;
    background-color: #151515;
}
.page1 #nav{
    /* nahi pta ki padding vw mai de ya vh mai */
    padding: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#nav h4{
    font-weight: 100;
    font-size: 2.3vh;
    line-height: 1;
    /* nahi pta ki font ki size kish mai de */
}

#nav-part1{
    display: flex;
    gap: 14vw;
    padding-left: 10vh;
}
#nav-part2{
    display: flex;
    gap: 2.5vw;
}
#page1text{
    padding-top: 3.5vw;
    padding-left: 28vw;
}
#page1text h1{
    line-height: 1;
    font-weight: 600;
    font-size: 7.4vw;
    overflow: hidden;
    letter-spacing: 3px;
}
.text{
    overflow: hidden;
    height: 7.5vw;
}

.text h1{
    font-size: 7.5vw;
    font-weight: 600;
    line-height: 7vw;
    text-transform: uppercase;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vw 0;
    padding-left: 28vw;
    background-color: #151515;
    
}


#video-container{
    height: 100%;
    width: 100%;
    background-color: darkorchid;
    position: relative;
}

#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container video{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;

    object-fit: cover;
}

#play-btn{
    height: 10vw;
    position: absolute;
    width: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    left: 70%;
    top: -15%;
    z-index: 9;

}
#play-btn i{
    font-size: 2.5vw;
}


.page3{
    min-height: 100vh;
    background-color: #151515;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-right: 5vw;
    padding-left: 5vw;
}
.text-container{
    padding-left: 56vh;
    margin-bottom: 15vh;
}
.text-container h1{
    font-size:7vw;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.text-container h1::before{
    content: "02";
    font-family: "Silk Serif";
    position: absolute;
    top: 0%;
    left: -13%;
    font-weight: 200;
    font-size: 3.5vw;

}

.underline{
    height: 2px;
    margin-top: 3vh;
    width:100%;
    background-color: #fff;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
._canvas_container{
    z-index: 9999999999;
}
.image1{
    position: relative;
    height: 42vw;
    width: 24vw;
    margin: 2.5vh;
}
.image1>h2{
    font-size: 5vh;
    color: #fff;
    margin-bottom: 5vh;
}
.image1 img{
    height: 71.2%;
    width: 100%;
    object-fit: cover;
}
.image-lower{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #151515;
}
.image-lower-left h5{
    font-size: 2vh;
    line-height: 1.7;
    font-weight: 300;
}
.image-lower-right h5{
    font-size: 2.2vh;
    font-weight: 400;
}
.line{
    margin-top: 3vh;
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.first-img{
    height: 60.7vh;
    position: absolute;
    top: 13.5%;
    left: 0%;
}
.image1:nth-child(2){
    height: 57vw;
    width: 33vw;
}
.image1:nth-child(3){
    height: 57.7vw;
    width: 33vw;
}
#second-img{
    height: 81.3vh;
    top: 9.7%;
}

#third-img{
    height: 79.6vh;
    top: 9.7%;
}
#third-img{
    height: 81.1vh;
    top: 9.7%;
}
.image1:nth-child(4){
    height: 57.7vw;
        width: 33vw;
    }
#four-img{
        height: 81.1vh;
        top: 9.7%;
    }
.image1:nth-child(6){
    height: 57.7vw;
    width: 33vw;
        }
#six-img{
        height: 81.1vh;
        top: 9.7%;
    }

    .page4{
        height: 100vh;
        width: 100%;
        background-color: #151515;
    }
    .text-scroller{
        display: flex;
        white-space: nowrap;
    }
    .text-scroller h2{
        font-size: 6.9vw;
        height: 16vh;
        margin-left: 2vw;
        margin-right: 2vw;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 100;
    }
    .text-scroller h3{
        font-size: 6.9vw;
        height: 16vh;
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 100;
    }
    .text-scrollering{
        display: flex;
        white-space: nowrap;
    }
    .text-scrollering h2{
        height:16vh;
        font-size: 6.9vw;
        margin-left: 2vw;
        margin-right: 2vw;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 100;
    }
    .text-scrollering h3{
        height:16vh;
        font-size: 6.9vw;
        /* font-family: "silk serif"; */
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 100;
    }


    .page5{
        height: 100vh;
        width: 100%;
        background-color: #151515;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .yellow-circle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45vh;
        width: 45vh;
        border-radius: 50%;
        border-radius: 1px solid #FFA63D;
        background-color: #FFA63D;
        transition: all ease 0.25s;
    }
    .yellow-circle:hover{
        scale: 0.9;
    }
    .yellow-circle h3{
        font-weight: 500;
    }

    .yellow-circle span{
        font-family: "silk serif";
        font-weight: 300;
    }
    .page6{
        min-height: 100vh;
        width: 100%;
        color: #fff;
        background-color: #151515;
        padding-left: 30vw;
        padding-bottom: 10vh;
    }
    .page6 h1{
        font-size: 8vw;
        font-weight: 600;
    }
    .page6>p{
        margin-top: 3vw;
        font-size: 2.3vw;
        width: 50%;
        line-height: 1.1;
    }
    .page6Images{
        margin-top: 5vw;
        display: flex;
        gap: 3vw;
    }
    .page6Imageleft>p{
        font-size: 1.1vw;
        font-weight: 200;
        line-height: 1.3;
        width: 55.6%;
    }
    .page6Images img{
        height: 81.1vh;
        width: 33vw;
        z-index: 9;
    }
    .page6bluebox{
        margin-top: -8vw;
        margin-left: 20vw;
        padding: 2vw 4vw 6vw 4vw;
        color: #fff;
        z-index: 999;
        width: 45vw;
        position: relative;
        background-color: #3F7DF4;
    }
    .innerbluebox{
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 30px 0px 25px 0px;
        /* background-color: red; */
        position: relative;
        justify-content: space-between;
    }
    .innerbluebox::after{
        position: absolute;
        top: 0%;
        content: "";
        height: 0%;
        width: 100%;
        background-color: #FFA63D;
        transition: all ease 0.3s;
        z-index: -999;
    }
    .innerbluebox:hover::after{
        height: 100%;

    }
    .innerbluebox:hover{

    }
    .innerleft{

    }
    .innerleft h2{
        font-weight: 400;
        z-index: 999;
    }
    .innerright h5{
        font-weight: 500;
        z-index: 999;
        font-size: 15px;
    }
    #page6line{
        margin:0px ;
        height: 1px;
    }
    #page6linelast{
        margin-top: 20vh;
        margin-bottom: 3vh;
        height: 1px;
    }
    .page6 h6{
        font-weight: 500;
        font-size: 15px;
    }
    